.section.feature-cont{
    background-color: var(--main-background);
    padding-bottom: 0px;
 }

 .feature-content{
    
    padding-left: 15px;
    width: 285px;
 
 }

 .feature-list{
    justify-content: space-between;
    display: flex;
 }
 
.section-title {
    padding-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    &.unimportland{
      padding-top: 0px;
      padding-bottom: 0px;
      color: var(--second-background);
      margin: -34px;
   }
 }



  .icons::before{
   display: block;
   content: "";
   height: 120px;
   border-radius: 4px;
   background-size: 70px;
   background-repeat: no-repeat;
   background-position: center;
   background-color: rgba(245, 244, 250, 1);
 
}

  .icons.first::before{
   background-image: url(../image/svg/antenna\ 1.svg);
}

  .icons.second::before{
background-image: url(../image/svg/clock\ 1.svg);
}

 .icons.third::before{
background-image: url(../image/svg/diagram\ 1.svg);
}

.icons.fourth::before{
   background-image: url(../image/svg/astronaut\ 1.svg);
}

.feature-list .title {
   color: var(--title-text-color);
   font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .text{

   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   line-height: 24px;
   color: var(--primary-text-color);
 }

 .title{
   margin-top: 30px;
   margin-bottom: 10px;
  
 }


 .second-title{
   margin-top: 30px;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;


   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   color:var(--title-text-color);
   letter-spacing: 0.03em;
}

