.footer{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-items: center;
   background-color: var(--footer-backgraund);
    padding-top: 60px;
    padding-bottom: 60px;
 }
 


 .i-nav{
    margin-top: 0px;
margin-bottom: 20px;
 }
 
 .two-nav{
    display: block;
   
 }

 
 .footer-container {
    display: flex;
    align-items: baseline;
  }
 
 .logo-foot{


    color: var(--logo-color);
     font-family: Raleway, cursive;
     letter-spacing: 0.03em;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     text-decoration: none;
     letter-spacing: 0.02em;
 }
 
 .logo-write{
    
    color: var(--main-background);
     font-family: Raleway, cursive;
     letter-spacing: 0.03em;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     text-decoration: none;
 
 }
 
 .location{
    line-height: 1.7;
    size: 14px;
    line-height: 1.7;
    display: flex;
      margin-top: 20px;
       text-decoration: none;
       color: var(--main-background);
       font-style: normal;
       
 
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus{
       color: var(--accent-color);
    }
    }
 
    
 
    .address{
       max-width: 215px;
       width: 100%;
       margin-right: 70px;
    }

 
  .address .link{ 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    display: flex;
    margin-top: 9px;
    font-style: normal;
    color:  rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;

    &:hover, 
    &:focus{
         color: var(--accent-color);
      }
   }


    .foot-navi{
       margin-bottom: 9px;
    }
 
    .centr{

        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 10px;
        fill: var(--main-background);
        background-color:#404142;
        cursor: pointer;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
         background: var(--accent-color);
        }

     }
     
     
      
      .icons-foot{
        margin-right: 10px;
       
       }
     
      .join-icons{
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .foot-box{
        display: flex;

        &:hover,
        &:focus{
           fill: var(--accent-color);
        }
     }
     
     
       .join{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        color: var(--main-background);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
     } 

     .subscr-span{
      font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #FFFFFF;
   max-width: 207px;
   width: 100%;
   display: inline;
   /* top: -70%; */
   }
   
   .subscription-input{
      width: 358px;
      height: 50px;
     background-color: transparent;
     outline: none;
     border: 1px solid rgba(255, 255, 255, 0.3);
     filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 16px;
     margin-top: 20px ;
   
      font-size: 16px;
     line-height: 1.25;
   
     align-items: center;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
   }
   
   .navi-form{
      display: flex;
      align-items: flex-end;
   }
   
   .subscription-tg{
      /* margin-top: 37px; */
      margin-left: 12px;
      width: 200px;
      height: 50px;
      font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: var(--accent-color);
   border: none;
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   padding-left: 28px;
   padding-right: 28px;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus{
    color: var(--footer-backgraund);
   }
}
     
     
 .telegram{
        fill: currentColor;
        margin-left: 10px;

        &:hover + .subscription-tg{
         fill:var(--footer-backgraund) ;
      }
 }
     
     .subscription{
        display: flex;
       max-width:570px ;
       width: 100%;
       height: 86px;
       margin-left: 93px;
        
     }