.hero{
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/backgraund.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-color: var(--footer-backgraund);

    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 200px;
    padding-bottom: 200px;

  &-title {
      max-width: 696px;
      width: 100%;
      
      color: var(--main-background);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.3;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
   }
 }
 

 .button, .button-secondary{
   border: none;
   border-radius: 4px;
   padding-left: 22px;
   padding-right: 22px;
   padding-top: 6px;
   padding-bottom: 6px;
   cursor: pointer;

   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }

   .button {
     
      border: none;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      margin-top: 30px;
      padding-right: 32px;
      padding-left: 32px;
      padding-top: 10px;
      padding-bottom: 10px;

      font-family: inherit;
      color:  var(--main-background);
      background-color: var(--accent-color);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.8;

      &:hover, 
      &:focus{ 
          color: var(--logo-color);
      
      }
    }
    