@import './utilits/vars';
@import './variables.scss';

@import './header';

@import './hero';

@import './benefits';
@import './works';
@import './team';
@import './klients';

@import './portfolio';

@import './footer';
@import './backdrop';