html{
    box-sizing: border-box;
 }
 
 *::before, 
 *::after{
    box-sizing: inherit;
 }
 
 
 ul,
 ol {
     list-style: none;
     margin: 0;
     padding-left: 0;
 }

 p, 
 h1, 
 h2, 
 h3, 
 h4,
 h5,
 h6{
    margin: 0;
 }

img{
    display: block;
 }

 .unimportland{
   position: absolute;
   white-space: nowrap;
   width: 1px;
   overflow: hidden;
   border: 0;
   padding: 0px;
   height: 0px;
   clip-path: inset(50%);
   margin: -1;
}

.section-title.unimportland{
      position: absolute;
      white-space: nowrap;
      width: 1px;
      overflow: hidden;
      border: 0;
      padding: 0px;
      height: 0px;
      clip-path: inset(50%);
      margin: -1;
   }

   
body{
      font-family:Roboto, sans-serif; 
      font-weight: 400;
       background: var(--second-background);
       color:  var(--primary-text-color);
       padding-top: 80px;
      }

.container{
         max-width: 1200px;
         width: 100%;
         margin: 0;
         margin-left: auto;
         margin-right: auto;
         padding-left: 15px;
         padding-right: 15px;
   
   
      }
   
   
.section{
         padding-top: 94px;
         padding-bottom: 94px;
         
      }
   
input{
         font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      opacity: rgba(117, 117, 117, 1);
      letter-spacing: 0.01em;
      }
      
 textarea{
         font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      opacity: rgba(117, 117, 117, 1);
      letter-spacing: 0.01em;
      }
      
span{
         display: inline-block;
      }