:root{
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color:#2196F3;
   --main-background: #FFFFFF;
   --second-background: #F5F4FA;
   --logo-color:#000000;
   --footer-backgraund: #2F303A;
   --footer-color: #FFFFFF 60%;
   }